{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <div style="display: flex; justify-content: center;">
        <form action="/buy" method="post">
            <input style="margin-bottom: 5px; width: 200px;" type="text" name="symbol" autofocus="" placeholder="Symbol"><br>
            <input style="margin-bottom: 5px; width: 150px;" type="number" name="shares" min=0 autofocus="" placeholder="Shares"><br>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}